body{
    background-color: #F6F6F6;
    font-size: 18px;
    color: #05080C;
    line-height: 1.5;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color:#222222 ;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color:border-top-color:#222222 ;
    
}
img{
    float: right;
    margin-left: 10px;
}
th{color: white;
    background-color:#222222 ;
}

td{
    background-color: #eeeeee;
}